body{
    margin: 0;
    padding: 0;
    font: 2vw "helvetica";
}

.menu{

    display: grid;
    background-color: rgb(72, 79, 119);
    grid-template-columns: 20% 80%; /* Define a largura das colunas */
    position: relative;
    
    place-items: center;
    
}

.menu div {

    display: inline-block;
    padding-top: 2%;
    padding-bottom: 2%;
}

.profile-pic{
    
    float: right;
    width: 40%; 
    height: auto;
}

.title{
       
    text-transform: uppercase;
    font: 2vw "helvetica";
    text-align: center;
}

.projects-display {
    text-align: center;
    display: flex;
    flex-direction: column; /* Disposição vertical dos itens */
    align-items: center; /* Alinhamento horizontal centralizado */
}

.projeto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    outline: 2px solid #546d88;
    height: 100px; /* Defina a altura fixa desejada */
    width: 300px; /* Defina a largura fixa desejada para divs fechadas */
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 30px;
    transition: width 0.3s, height 0.3s; /* Adiciona a transição para a mudança de largura e altura */
}

.projeto p{
    text-align: justify;
    font-weight: 100;
}

.projeto.aberto {
    overflow: hidden;
    font-size: medium;  
    border-radius: 5px;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    height: auto;
    display: flex; /* Adicionado */
    justify-content: center; /* Adicionado */
    align-items: center; /* Adicionado */
}

.botao-jet, .botao-cv, .botao-tasks, .botao-calc{
    overflow: hidden;
    cursor: pointer;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
}


.credits-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}

.name {
    opacity: 0.3;
    font-size: 3vw;
}

.lin-button {
    border: none;
    margin-left: 2vw;
    background-color: #546d8800;
    cursor: pointer;
    /* Remova o 'align-self: baseline;' */
}

.lin-logo {
    height: 3vw;
    width: auto;
}