*{
    margin: 0;
    padding: 0;    
    color: #484848;
    font-family: "Enriqueta", serif;     
}

body{
    background-image: url('../images/background2.png');
    background-size: 5vw;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:5%;
    margin-right:7%;
}

.header div{
    font-family: "Anton", serif;
}

.profile-pic{
    height: 50px;
}

.main-line{
    margin-left:5%;
    font-size: 25px;
}

.separation-line{
    height: 2px;
    width: 80%;
    margin-left: 10%;
    background-color: green;
}

.credits{
    display: grid;
    justify-content:center;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 20px;
}

.credits-icons{
    display:flex;
    justify-content: center;
}

.credits img{
    margin: 5%;
    width: 30px;
    height: 30px;
}