.pagina-inicial{
    color:green;
}

.language{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 4rem;
    margin-right: 1.5rem;
    color: green;
}

.language img{
    border: 3px solid rgb(67, 67, 67);
    height: 20px;
    cursor: pointer;
}

.container-background{
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(46, 46, 46);
}

.container div{
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 25px;
}

.page-image{
    margin-top: 20px;
    width: 300px;
}