.pagina-sobre-mim{
    color: green;
}

.main-line {
    font-size: 80px;
    white-space: nowrap;
    padding: 5px;
    color: #484848;
    animation: slideIn 2s forwards;
    font-family: "Enriqueta", sans-serif;
    font-weight: lighter;
}

@keyframes slideIn {
    from {
        transform: translateX(-10%);
    }
    to {
        transform: translateX(0);
    }
}

.SM-bg {
    margin-top: 8%;
    background-image: url('../../Images/monitor.png');
    background-size: cover;
    background-position: center;
    height: 710px;
    width: 100%; /* Use 100% para ocupar toda a largura disponível */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 926px) {
    .SM-bg {
        background-size: contain; /* Alterna para 'contain' para garantir que a imagem inteira seja visível */
    }
}

.SM-bg div{
    margin-right: 3%;
    color:rgb(200, 200, 200);
}

.SM-texto{
    height: 450px;
    width: 350px;
    padding-bottom: 120px;
    text-align: justify;
}

.linguagens-texto{
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.linguagens-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.linguagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.lg-nome{
    margin-top: 10px;
    font-size: 20px;
}

.lg-img{
    background-color: #484848;
    height: 100px;
    width: 100px;    
}

.force-down{
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 470px;
}