.pagina-inicial{
    color: green;
}

.language{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5.5rem;
    margin-right: 10rem;
    color: green;
}

.language img{
    border: 3px solid rgb(67, 67, 67);
    height: 50px;
    cursor: pointer;
}

.main-line {
    font-size: 80px;
    white-space: nowrap;
    padding: 5px;
    color: #484848;
    animation: slideIn 2s forwards;
    font-family: "Enriqueta", sans-serif;
    font-weight: lighter;
}

@keyframes slideIn {
    from {
        transform: translateX(-10%);
    }
    to {
        transform: translateX(0);
    }
}

.container-background {
    width: 100%;
    background-color: rgb(45, 45, 45);
    position: absolute;
    margin-top: 3%;
    left: 0;
    right: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.page-sector{
    margin-left: 3vw;
    margin-right: 3vw;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.page-text{
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 10%;    
    color: white;    
    white-space: nowrap;
    font-family: "Enriqueta", serif;
}

.page-image{
    margin-top: 10%;
    height: 300px;
}

.force-down{
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 470px;
}